.sidebarChat {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.sidebarChat:hover {
  background-color: darkgray;
  color: white;
}

.sidebarChat__info {
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.sidebarChat__info > p {
  font-size: 0.8em;
}

.sidebarChat__info > small {
  position: absolute;
  top: 5px;
  right: 0;
}
