.sidebar {
  flex: 0.3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2a3030;
  border-right: 1px solid grey;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 50px;
  border-bottom: 1px solid grey;
}

.sidebar__avatar {
  cursor: pointer;
  margin: 10px;
  width: 50%;
  height: 10px;
}

.sidebar__input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #e1e1e1;
  color: gray;
  border-radius: 5px;
}

.sidebar__input > input {
  border: none;
  background: transparent;
  outline: none;
  margin-left: 3px;
}

.sidebar__chats {
  overflow: scroll;
  color: #d4d4d4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar__chats::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar__chats {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
